<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" required formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price" type="text" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Save product</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-list>
</ion-content>